
.profile-header{
    position:fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 64px;
    padding: 0px;
}

.header-profile-name{
    color: #000000E0;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.header-profile-name-computer{
    font-size: 24px;
    .header-profile-name()
}

.header-profile-name-mobile{
    font-size: 10px;
    .header-profile-name()
}

.custom-drawer{
    background: rgba(255, 255, 255, 0.8) !important;
}

.header-anchor{
    color: #FFFFFFD9;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

    min-width: 0;
    width: 256px;
    background: none;
    padding-top: 0px;
}


.header-col2{
    display: flex;
    justify-content: right;
    align-items: center;
}

.profile-intro-container{
    .descriptions{
        transform: translateY(164px);
    
        .description-text-salutation{
            color: #c7aa36;
        }

        .description-text-salutation-mobile{
            background:rgba(255, 255, 255, 0.4);
            .description-text-salutation();
        }
    
        .description-text-description{
            font-weight: 800;
            margin: 0px;
        }

        .description-text-description-mobile{
            background:rgba(255, 255, 255, 0.4);
            .description-text-description();
        }

        .descriptions-buttons{
            padding-top: 15px;
            .download-cv-button{
                box-shadow: none;
            }
        }
    }
}

.profile-about-container{
    height: fit-content;
    background: rgba(255, 254, 240, 0.8);

    .about-description{

        .about-me{
            color: #000000E0;
        }
        .about-text{
            font-weight: 600;
        }
        .label-value-rows{
            font-weight: 600;
            margin-top: 10px;
        }
        .label-value-row-1{
            margin-top: 20px;
        }
        .about-label{
            font-weight: 600;
            font-size: 16px;
        }
        .about-value{
            font-weight: 600;
            font-size: 16px;
            color: #c7aa36;
        }

        .hobbies{
            margin-top: 50px;
            font-weight: 600;
        }
    }

    .about-description-computer{
        padding: 30px;
        .hobbies{
            font-size: 16px;
        }
        .about-description();
    }

    .about-description-mobile{
        padding: 5px 30px;
        .hobbies{
            font-size: 12px;
        }
        .about-description();
    }
}

.profile-about-container-computer{
    padding: 30px 0;
    .profile-about-container();
}

.profile-about-container-mobile{
    padding: 10px 0;
    .profile-about-container();
}

.profile-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 24px 48px;
    background: #232931;

    color: #FFFFFFD9;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;

    .footer-external-resources{
        display: flex;
        align-items: center;
        padding-top: 40px;
        .footer-image-shell{
            background: white;
            width: 20px;
            height: 20px;
            border-radius: 10px;
        }
        .footer-image{
            transform: translate(1px, -2px);
        }
    }

    .device-details{
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
}

.social-icons{
    font-size: 16px;
}
